* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    transition: 1s;
}

body{
    background: linear-gradient(180deg, #17EFC3, #0089A7);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#error {
    bottom: 2px;
    color: rgb(255, 0, 0);
    visibility: visible;
    position: flex;
    overflow: hidden;
    display: inline-block;
    animation: revealText 2s forwards;
    opacity: 0;
}

#status {
    font-size: 2.5vh;
    visibility: visible;
}

@keyframes revealText {
    from {
      opacity: 0;
      height: 0;
    }
    to {
      opacity: 1;
      height: auto;
    }
}

.container h2{
    font-size: 36px;
    text-align: center;
    margin-bottom: -30px;
}


.container{
    background-color: transparent;
    border-radius: 10px;
    width: 35%;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    padding: 30px 40px;
}

.header{
    background: transparent;
    padding: 0px;
    text-align: center;
    color: white;
}

.form{
    padding: 18px;
}

.form-content{
    margin-bottom: -22px;
    padding-bottom: 30px;
    position: relative;
    transition: 1s;
}

.form-content label{
    display: inline-block;
    margin: 4px;
}

.form-content input:focus,
.form-content input:not(:placeholder-shown) {
    text-align: center;
    letter-spacing: 2px;
}

.form-content input{
    display: block;
    width: 100%;
    border-radius: 8px;
    padding: 8px;
    border: 2px solid rgba(255, 255, 255, .2);
    background: transparent;
}
.form-content input::placeholder {
    color: #f6feff;
    font-size: 1.8vh;
    opacity: 78%;
    text-align: center;
    /* Prefixos para compatibilidade com navegadores antigos */
    -webkit-text-align: center; /* Chrome, Safari, Opera */
    -moz-text-align: center;    /* Firefox 19- */
    -ms-text-align: center;     /* Internet Explorer 10- */
    -o-text-align: center;      /* Opera 12.1- */
}
.form-content a{
    position: absolute;
    bottom: -2px;
    left: 0;
    visibility: hidden;
    font-size: 13px;
}

.form button{
    width: 100%;
    height: 45px;
    background:  #fff;
    border: none;
    outline: none;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-top: 25px;
    transition: background-color 0.3s ease;
}

.form button:hover {
    background-color: #9cfce9;
    opacity: 70%;
    color: black;
}


.form-content.error input{
    border-color: #ff3b25;
}

.form-content.error a{
    color: #ff3b25;
    visibility: visible;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

.container .register-link {
    font-size: 14.5px;
    text-align:  center;
}