* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

body {
    background: linear-gradient(180deg, #ffffff, #949494);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Texto atenção lado inferior direito, tela principal */
.texto-atencao {
    width: 400px;
    height: 200px;
    left: 970px;
    top: 430px;
    position: absolute;
}

.cortexto {
    color: red;
    font-weight: 500;
}

/* Botão Usuário lado superior esquerdo, página principal */
.usuario {
    width: 226px;
    height: 61px;
    left: 8px;
    top: 30px;
    position: absolute;
}

.usuario .background{
    width: 226px;
    height: 61px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: linear-gradient(90deg, #A7FFFA 0%, rgba(100.09, 153, 149.83, 0.10) 100%);
    border-radius: 18px;
    border: 2.5px #5CF5FF solid;
}

.usuario .texto {
    left: 20%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: black;
    font-size: 17px;
    font-weight: 400;
}

/* painel lateral esquerdo, página principal */
.opcoes {
    width: 226px;
    height: 61px;
    left: 8px;
    top: 100px;
    position: absolute;
    align-items: start;
}

.opcoes h3 {
    color: #333;
    font-size: 20px;
}

.opcoes a {
    display: block;
    text-decoration: none;
    padding: 0px 3px;
    color: #444;
}

.opcoes a.opcoes-ativa {
    border-left:  4px solid #73b4ff;
    background-color: transparent;
    color: #73b4ff;
    font-weight: bold;
}

.opcoes a.opcoes-ativa > svg {
    color: #777;
}

.opcoes a:hover {
    border-left:  4px solid #73b4ff;
    background-color: transparent;
    color: #73b4ff;
    font-weight: bold;
    cursor: pointer;
}

.opcoes .background {
    width: 226px;
    height: 600px;
    position: absolute;
    background: linear-gradient(90deg, #A7FFFA 0%, rgba(100.09, 153, 149.83, 0.10) 100%);
    border-radius: 18px;
    border: 2.5px #5CF5FF solid;
}

.opcoes .cadastrosbox {
    height: 67px;
    left: 10px;
    top: 10px;
    position: absolute;
}

/* formulário, página principal */
.form-background {
    width: 652px;
    height: 342px;
    left: 273px;
    top: 0px;
    position: absolute;
}

.form-background .formulario-background {
    width: 652px;
    height: 265px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: linear-gradient(90deg, #A7FFFA 0%, rgba(100.09, 153, 149.83, 0.10) 100%);
    border-radius: 18px;
    border: 2.5px #5CF5FF solid;
    z-index: 1;
}

.form-background h3 {
    position: absolute;
    top: 30px;
    left: 150px;
    z-index: 2;
}

.form {
    position: absolute;
    padding: 18px;
    z-index: 1;
}

.form-content {
    margin-bottom: -22px;
    padding-bottom: 18px;
    position: relative;
}

.form-content label {
    display: inline-block;
    margin: 4px;
}

.form-content input {
    display: block;
    width: 100%;
    border-radius: 8px;
    padding: 8px;
    border-radius: 8px;
    border: 2.5px #5CF5FF solid;
    background: white;
}

#cnpj {
    position: absolute;
    width: 200px;
    height: 35px;
    top: 55px;
    left: 40px;
    z-index: 2;
}

#razao {
    position: absolute;
    width: 320px;
    height: 35px;
    top: 34px;
    left: 245px;
    z-index: 2;
}

#cidade {
    position: absolute;
    width: 470px;
    height: 35px;
    top: 55px;
    left: 40px;
    z-index: 2;
}

#uf {
    position: absolute;
    width: 50px;
    height: 35px;
    top: 34px;
    left: 515px;
    z-index: 2;
}

.form button {
    height: 35px;
    width: 200px;
    background: linear-gradient(90deg, #17EFC3 0%, #0089A7);
    border-radius: 8px;
    border: 2.5px #5CF5FF solid;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.form .form-content .baixar-contrato {
    position: absolute;
    top: 53px;
    left: 365px;
    z-index: 2;
}

.form .form-content .cadastrar-form {
    position: absolute;
    top: 97px;
    left: 200px;
    z-index: 2;
}

.subirarq {
    position: absolute;
    top: 155px;
    left: 59px;
    height: 35px;
    width: 318px;
    background: linear-gradient(90deg, #17EFC3 0%, #0089A7);
    border-radius: 8px;
    border: 2.5px #5CF5FF solid;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 13px;
}

.inputarquivo {
    display: none;
}

input #subir-arquivo{
    height: 35px;
    width: 200px;
    background: linear-gradient(90deg, #17EFC3 0%, #0089A7);
    border-radius: 8px;
    border: 2.5px #5CF5FF solid;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
 
.form-content.error input{
    border-color: #ff3b25;
}

.form-content.error a{
    color: #ff3b25;
    visibility: visible;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

.container .register-link {
    font-size: 14.5px;
    text-align:  center;;
}

/* Ícones laterais direta */
.xml {
    width: 213px;
    height: 265px;
    left: 965px;
    top: 0px;
    position: absolute;
}

.xml .total-xmls {
    width: 183px;
    height: 265px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: linear-gradient(90deg, #A7FFFA 0%, rgba(100.09, 153, 149.83, 0.10) 100%);
    border-radius: 18px;
    border: 2.5px #5CF5FF solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chaves {
    width: 300px;
    height: 300px;
    left: 965px;
    top: 275px;
    position: absolute;
}

.chaves .icone-chaves {
    width: 410px;
    height: 140px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: linear-gradient(90deg, #A7FFFA 0%, rgba(100.09, 153, 149.83, 0.10) 100%);
    border-radius: 18px;
    border: 2.5px #70EBF3 solid;
    display: flex;
    align-items: center;
}

.empresa {
    width: 213px;
    height: 265px;
    left: 965px;
    top: 0px;
    position: absolute;
}

.empresa .total-empresas {
    width: 183px;
    height: 265px;
    left: 225px;
    top: 0px;
    position: absolute;
    background: linear-gradient(90deg, #A7FFFA 0%, rgba(100.09, 153, 149.83, 0.10) 100%);
    border-radius: 18px;
    border: 2.5px #5CF5FF solid;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.abas .bx {
    font-size: 100px;
}

.abas button {
    width: 150px;
    height: 40px;
    left: 225px;
    background: linear-gradient(90deg, #17EFC3 0%, #0089A7);
    border-radius: 18px;
    border: 2.5px #5CF5FF solid;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.abas p {
    font-size: 30px;
}

/* vídeo de apresentação */
.video {
    width: 650px;
    height: 325px;
    left: 273px;
    top: 275px;
    position: absolute;
    background: black;
    border-radius: 18px;
}